<div class="container", id="my-post" >
  <table>
  <tr>
    <th class="border-2">ID</th>
    <th class="border-2">Title</th>
    <th class="border-2">Description</th>
    <th class="border-2">Creator</th>
    <th class="border-2" colspan="3">ACtion</th>
    <th></th>
  </tr>
    <%= render 'post_pagination'%>
  <tr></tr>
</table>

<div id="infinite-scrolling", style="display: hidden;">
  <%= will_paginate @posts, :page_links => false %>
</div>
</div>


<%= javascript_include_tag "pagination" %>
